{{#head 'h2' heading}}{{/head}}

<h2>{{ toUppercase heading }}</h2>

<p>{{ firstName }} + {{ lastName }} = {{ fullName }}</p>

<p>
  {{#toItalic text}}{{/toItalic}}
</p>

{{!-- Text ---}}
{{ paragraph }}

{{!-- XML ---}}
{{{ paragraph }}}
