{{#head 'h2' heading}}{{/head}}

<h2>{{ toUppercase heading }}</h2>

<p>{{ firstName }} + {{ lastName }} = {{ fullName }}</p>

{{#with mother}}
  <p>My mother's name is {{ firstName }} {{ lastName }}</p>
{{/with}}

<p>
  {{#toItalic text}}{{/toItalic}}
</p>

{{!-- Text ---}}
{{ paragraph }}

{{!-- XML ---}}
{{{ paragraph }}}
